:root {
  --color-orange-darker: #431404;
  --color-orange-dark: #ca3b0c;
  --color-orange: #f25621;
  --color-orange-light: #ff7d52;
  --color-orange-lighter: #fbcfc0;
  --color-orange-lightest: #fef0ec;
  --color-sunset-darker: #2c1e02;
  --color-sunset-dark: #996806;
  --color-sunset: #c08207;
  --color-sunset-light: #f6a90e;
  --color-sunset-lighter: #fce3b0;
  --color-sunset-lightest: #fef8eb;
  --color-yellow-darker: #282306;
  --color-yellow-dark: #7e6c11;
  --color-yellow: #a68e17;
  --color-yellow-light: #e2c42c;
  --color-yellow-lighter: #f5ebb7;
  --color-yellow-lightest: #fdfaed;
  --color-green-darker: #0a2917;
  --color-green-dark: #1d7c45;
  --color-green: #26a159;
  --color-green-light: #30cf72;
  --color-green-lighter: #b5eecc;
  --color-green-lightest: #eafaf1;
  --color-teal-darker: #002925;
  --color-teal-dark: #007a70;
  --color-teal: #00a396;
  --color-teal-light: #00e0ce;
  --color-teal-lighter: #a8fff8;
  --color-teal-lightest: #ebfffd;
  --color-blue-darker: #061637;
  --color-blue-dark: #1243a5;
  --color-blue: #2767e7;
  --color-blue-light: #91b1f3;
  --color-blue-lighter: #d1dffa;
  --color-blue-lightest: #f1f5fd;
  --color-purple-darker: #190a29;
  --color-purple-dark: #56228b;
  --color-purple: #7f32cd;
  --color-purple-light: #ba90e4;
  --color-purple-lighter: #d6bdef;
  --color-purple-lightest: #f2eafa;
  --color-pink-darker: #290017;
  --color-pink-dark: #8f0051;
  --color-pink: #cc0074;
  --color-pink-light: #ff6bbf;
  --color-pink-lighter: #ffaddc;
  --color-pink-lightest: #ffe5f4;
  --color-red-darker: #32060e;
  --color-red-dark: #96132b;
  --color-red: #d11a3b;
  --color-red-light: #ef8094;
  --color-red-lighter: #f7bbc6;
  --color-red-lightest: #fce8ec;
  --color-ink-darker: #121417;
  --color-ink-dark: #31363f;
  --color-ink: #636c7d;
  --color-ink-light: #a9afbb;
  --color-ink-lighter: #dddfe4;
  --color-ink-lightest: #f1f2f4;
  --color-black: #000;
  --color-white: #fff;
}
