html,
body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: var(--color-ink-darker);
}

html {
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  position: relative;
  font-size: 16px;
  text-rendering: optimizelegibility;
  scroll-behavior: smooth;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  padding: 0;
}

ul li,
ol li {
  list-style: none;
  padding: 0;
}

img,
embed,
object {
  height: auto;
  max-width: 100%;
}

/* 1. Change the font styles in all browsers. */

/* 2. Remove the margin in Firefox and Safari. */
input,
button,
optgroup,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* 1. Remove the inheritance of text transform in Edge and Firefox. */
button,
select {
  text-transform: none;
}

/* Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

b,
strong {
  font-weight: bolder;
}

a {
  background-color: transparent;
  text-decoration: none;
  line-height: inherit;
}

a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: underline;
}

*:focus,
*:focus-visible {
  outline: none !important;
}
