.vehicle {
  border: 1px solid var(--color-purple-dark);
  border-radius: 5px;
}

.vehicle-name {
  padding: 1rem;
  color: var(--color-purple);
}

.vehicle-vendor {
  padding: 0 1rem;
}

.vehicle-info {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.vehicle-img {
  width: 100%;
  padding: 1rem 0;
}

.vehicle-details-container,
.summary {
  padding: 1rem 2rem;
}

.veh-air-condition span {
  color: var(--color-green);
}

.veh-transmission-type span,
.veh-fuel-type span,
.veh-drive-type span {
  font-weight: var(--font-bld-2);
  text-transform: capitalize;
}

.veh-icons {
  width: 1rem;
}

.summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 1rem;
  cursor: pointer;
}

.summary-price {
  text-align: left;
  align-self: end;
  color: var(--color-blue);
}

.summary-price-rate {
  color: var(--color-ink-darker);
}

.veh-select {
  height: 100%;
  text-align: right;
  align-self: center;
}

.veh-select button {
  text-transform: uppercase;
  background-color: var(--color-purple);
  color: var(--color-white);
  border: 1px solid var(--color-purple-darker);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
